<footer>
    <p class="footer-credit">
       Apprenti sorcier Mous_tik
       <br>
       Big thanks à Christian Diaz pour l'inspiration!
        <a href="https://la-cascade.io/articles/oklch-e" rel="noopener noreferrer" target="_blank">
         son article de blog
        </a>
      </p>

     <div class="grid">
          <a href="./contrast.html">Le contraste automatique</a>
          <a href="./rythme.html">Le rythme unique</a>
          <a href="./index.html">OKLCH, c'est quoi ?</a>
          <a href="./grille.html">La grille magique</a>
          <a href="./nav.html">Le cauchemar du nav</a>
      </div>
</footer>  